@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .p-fluid {
    padding: 0 10px;
  }
}

@media screen and (max-width: 480px) {
  .flex {
    flex-direction: column;
  }

  .text-xl {
    font-size: 1.5rem;
  }
}
